html,
body,
#root {
  height: 100%;
}

#root {
  .building-workspace {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px);
    justify-content: flex-end;

    .apartment {
      opacity: 1;
      background-color: #fff;
      transition: background-color .5s;
      width: 300px;

      &:hover {
        background-color: #efefef;
      }
      
      .electrodomestics {
        align-content: center;
        align-items: center;
        display: flex;
        height: 30px;
        justify-content: space-between;

        .electrodomestic {
          cursor: pointer;
          transition: color 2s, font-size 0.2s;
  
          &:hover {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .toast {
    position: absolute;
    top: 10px;
    left: 10px;

    .show {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.5s linear;
    }
    .hide {
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
    }
  }
}